Non Confirmable observe responses that occasionally have to be confirmable (mitigation)

Hi there

RFC 7641: 4.5 Transmission
…
   A server that transmits notifications mostly in non-confirmable
   messages MUST send a notification in a confirmable message instead of
   a non-confirmable message at least every 24 hours.  This prevents a
   client that went away or is no longer interested from remaining in
   the list of observers indefinitely.
RFC 7641: 4.5.1. Congestion Control 
….
In order not to cause congestion, servers MUST strictly limit the number of
simultaneous outstanding notifications/responses that they transmit to a given
client to NSTART (1 by default; see Section 4.7 of RFC 7252 [RFC7252]).
An outstanding notification/response is either a confirmable message for which
an acknowledgement has not yet been received and whose last retransmission
attempt has not yet timed out or a non-confirmable message for which the
waiting time that results from the following rate-limiting rules has not yet
elapsed.
RFC 7641: 3.5.  Transmission
…
   An acknowledgement message signals to the server that the client is
   alive and interested in receiving further notifications; if the
   server does not receive an acknowledgement in reply to a confirmable
   notification, it will assume that the client is no longer interested
   and will eventually remove the associated entry from the list of
   observers (Section 4.5).
There are 2 things that immediately come out of this.
1)	If a Ping 0.00 messages is currently active (no response yet received), and an observe is triggered and it happens to be the one every 24 hrs, it will get dropped / delayed
2)	What happens when the observe response for a mitigation status (change) is chosen by the underlying CoAP library to be a CON instead of a NON during a mitigation – which fails because of the attack and the observer gets deleted. 

Are we happy with this happening?

FYI – the libcoap I am using does this CON every 5 NON observe response transmissions.  Statistically less chance with once every 24 hrs, but..
